$main-color: #FDF9EB;
$page-light-blue-color: #084282;
$page-light-black-color: #1E1E1E;
$page-gray-color:#505050;
$page-dark-blue-color: #1C2B48;
$page-red-color: #B60B0B;


$phone-width: 390px;

$header-logo-size: 94px;
$desktop-padding: 22px;